/* Add a black background color to the top navigation */
.topnav {
  font-family: cursive;
  background-color: #f2cece;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #630f0f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* fixing image look*/
#image {
  padding: 0;
}

/* adding exeption*/
#image:hover {
  background-color: #0000;
}
/*done with exeptions*/

/*splitting about button*/
#aboutbutton {
  float: right;
}
